
body{
    font-family: 'poppins',sans-serif;
}
h1{
    font-size: 30px;
    
    
}
.orange-color{
    color: orange;
    font-size: 80px;
}
#chotan{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    margin: 5%;
}
.half-width img{
    width: 80%;
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;

}